h1{
    color: aliceblue;
    background-color: black;
    padding: 15px;
}
span{
    color: aqua;
}
h2{
    text-align: center;
    color: aliceblue;
    background-color: blueviolet;
    font-style: italic;
    padding: 20px;
    margin-top: -13px;
    margin-bottom: 1px;
   
}
h3{

    text-align: end;
    background-color:rgb(144, 168, 213) ;
    color: rgb(58, 28, 86);
    text-decoration: underline;
   font-style: normal;
   padding: 20px;
}
