.headofpage {
    background-color: black;
}

h1,
ul,
.top-color,
.subject {
    color: aliceblue;
}

nav {
    display: flex;
    align-items: baseline;
    margin: 0px 50px;
}

ul {

    flex: 2;
    list-style-type: none;
    text-decoration: none;
    display: flex;
}

li {
    padding-right: 20px;
}

#signoutinput {
    background-color: rgb(23, 162, 184);
    color: aliceblue;
    border: 0;
}

h1,
ul,
input,
.top-color,
.contecteducation,
.subject {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* here is font family many of classe or html elements to be uniform */

main {
    position: relative;
}

.ownpage {
    border: 1px solid rgb(205, 205, 205);
    width: 400px;
    height: 320px;
    position: absolute;
    top: 32px;
    left: 52px;
}

.top {
    background-color: rgb(23, 162, 184);
    width: 400px;
    height: 90px;
}

.Profilepicture {
    width: 90px;
    height: 90px;
    border: 2px solid rgb(205, 205, 205);
    position: absolute;
    top: 43px;
    left: 33px;
    border-radius: 50px;


}

.buttom {
    position: absolute;
    top: 124px;
    left: 30px;
}

#jane-m {
    width: 89px;
    height: 89px;
    border: 0px solid none;
    border-radius: 50px;
}

.icon-profile {
    width: 13px;
    height: 15px;
}

/* above from this comment  i finish styling section who is name ownpage */
/*in here i start to style of section education*/

.education {
    border: 1px solid rgb(205, 205, 205);
    width: 400px;
    height: 320px;
    position: absolute;
    top: 395px;
    left: 52px;
}

.educationtop {
    background-color: rgb(51, 51, 51);
    height: 50px;
    width: 400px;
    position: absolute;


}

.top-color {
    padding-left: 15px;
}

.contecteducation {
    position: absolute;
    top: 46px;
    left: 15px;
    font-size: large;
}

span {
    color: rgb(107, 106, 106);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* start to style connection request section */
.connection-request {
    border: 1px solid rgb(205, 205, 205);
    width: 200px;
    height: 160px;
    position: absolute;
    top: 32px;
    left: 880px;

}

.requesttop {
    background-color: rgb(51, 51, 51);
    display: flex;
    align-items: center;
    padding: 10px;
    height: 30px;
}

.icons {
    width: 20px;
    height: 30px;
    border: 0px solid none;
    border-radius: 50%;
}

.peoplerequest0 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 62px;
    left: 9px;

}

.todd,
.connectimg {
    width: 37px;
    height: 34px;
    border: 0px solid none;
    border-radius: 50%;
    margin-right: 10px;
}

.icon-request {
    width: 26px;
    height: 23px;
    margin: 2px;
}

.connection-name {
    margin: 0px 20px 0px 7px;
}

.containofrequest {
    display: block;
}

article {
    display: flex;
    align-items: center;
    position: absolute;
    top: 112px;
    left: 9px;
}

.connection-name1 {
    margin: 0px 31px 0px 7px;

}

.your-connections {
    border: 1px solid rgb(205, 205, 205);
    width: 200px;
    height: 340px;
    position: absolute;
    top: 240px;
    left: 880px;
    display: flex;


}

.topofconnect {
    background-color: rgb(51, 51, 51);
    display: flex;
    width: 202px;

    position: absolute;
    top: 240px;
    left: 880px;
    align-items: center;
}

.iconsconnect {
    width: 40px;
    height: 28px;
    border: 0px solid none;
    border-radius: 50%;
    margin: 10px;
}

.myconnect {
    position: absolute;
    top: 55px;
    right: 20px;
}

.myconnect1 {
    position: absolute;
    top: 105px;
    right: 20px;
}

.myconnect2 {
    position: absolute;
    top: 153px;
    right: 20px;
}

.myconnect3 {
    position: absolute;
    top: 200px;
    right: 20px;
}

footer {
    position: absolute;
    top: 300px;
    border: 1px solid rgb(205, 205, 205);
    width: 179px;
    height: 19px;
    padding: 10px;
}

.viewdetails {
    /* margin: px 15px 0px 0px  ; */
    padding: 20px;

}

.headconnct {
    background-color: rgb(51, 51, 51);
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    padding: 5px;
}