body {
    margin: 0 auto;
    width: 970px;
}

header {
    background-color: black;
    color: aliceblue;
    height: 70px;
    display: flex;
    align-items: center;
}

h2 {
    text-align: center;
}