<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Tv Show #{{shows.id}}</h1>
    <h3>Title:{{shows.title}}</h3>
    <h3>Network:{{shows.network}}</h3>
    <h3>Release Date:{{shows.release_date}}</h3>
    <h3>Description:{{shows.description}}</h3>

    <h3>Last Update:{{shows.updated_at}}</h3>
    <a href="/edit/{{shows.id}}">Edit</a>|<a href="/delete/{{shows.id}}"
      >Delete</a
    >
  </body>
</html>
